li {
        margin: 0 auto;
        width: 80%;
        height: 40px;
        padding: 10px 10px;
        background-color: #2274A5;
        color: white;
        border-radius: 5px;
        margin-bottom: 5px;
}