<div class="main">
  <button *ngIf="!addEvent" (click)="onAddEvent()">Add Event</button>
  <div class="events-container">
    <event-list
    *ngIf="!addEvent && !editEvent"
    [events]="events"
    [user]="user"
    (deleted)="handleDelete($event)"
    (editted)="onEditEvent($event)"></event-list>
    
    <add-event
    *ngIf="addEvent && !editEvent"
    (submitted)="handleAddSubmit($event)"
    (cancel)="handleAddCancel($event)"></add-event>

    <edit-event
    *ngIf="!addEvent && editEvent"
    (submitted)="handleEditSubmit($event)"
    (cancel)="handleEditCancel($event)"
    [event]="event"></edit-event>
  </div> 
</div>